.cameraDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 999px;
  overflow: hidden;
  transform: scaleX(-1);
}
