:root {
  --radius: 15px;
}

.buttonDiv {
  /* border-radius: var(--radius); */
  background-color: white;
  box-shadow: 0 0 40px #00000018;

  width: 100%;
  min-width: 350px;
  max-width: 600px;

  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  transition: all 300ms ease-out;
  outline: none;
  background-color: white;

  min-height: 50px;
  width: 100%;

  padding: 15px;

  border-radius: var(--radius);
  border: none;
}

.buttonLeft {
  composes: button;
  border-radius: var(--radius) 0 0 var(--radius);
  border-radius: 0;
}

.buttonRight {
  composes: button;
  border-radius: 0 var(--radius) var(--radius) 0;
  border-radius: 0;
}

.button:hover {
  background-color: #ef476f;

  color: white;
}

.button:hover * {
  fill: white;
}
