.main {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  overflow: hidden;
  pointer-events: none;
}

.buttonDiv {
  pointer-events: all;

  display: flex;
  justify-content: center;

  width: 100%;

  position: fixed;
  bottom: 0;
  z-index: 10000;
}

.exploreDiv {
  color: #336699;
}

.carouselMain {
}

.carouselDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: left;
  outline: none;

  height: 200px;
  overflow: visible;
}

.carouselDiv * {
  color: #336699;
}

/* card styling */
.carouselContainer {
  margin: 10px 15px 10px 5px;
  padding: 0;
  border-radius: 8px;

  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.075);
  overflow: hidden;
}

.carouselContainer:hover {
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.123);
}

.carouselImg {
  margin: 0;
  width: 100%;
  object-fit: cover;
}

.infoContainer {
  padding: 5px;
}

.carouselTitle {
  margin: 0;
}

.carouselDesc {
  position: relative;
  font-size: 12px;
  height: 90px;

  overflow: hidden;
}

.descGradient {
  position: absolute;
  bottom: 0;

  height: 20px;
  width: 100%;
  background: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.801)
  );
  z-index: 1000;
}

.discoverDiv {
  height: 100%;
  width: 100%;
  /* display: flex;

  justify-content: center;
  align-items: center; */
  color: #5591d6;
}

.cameraContainer {
  position: relative;
  transition: border 500ms ease;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.camera {
  position: relative;
  height: 300px;
  width: 300px;
}

.speechBubble {
  z-index: 100;
  position: absolute;
  /* top: -170px; */
  bottom: 0;
  padding-bottom: 255px;
  padding-right: 70px;

  height: 300px;
  width: 280px;
}

.animatedLogo {
  animation: spin-animation infinite 3s ease-in-out;
}

@keyframes spin-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.credits {
  margin: 0;
}

.credits > * {
  font-size: 0.5rem;
}
